<% provide(:title, 'Help') %>
<div class="main">
<h1 class="title">Help</h1>
<p>Please submit a query below for any help needed and we will get back to you as soon as possible</p>
</div>
<style>
.main {
	text-align: center;
}
.title {
	font-weight: bold;
}

