<%= provide(:title, 'Home') %>
<div class="center-hero-unit"> 
   <h1 class="header">Kapooya!</h1>
   <p>Welcome to Kappoya! This website is a social networking site open for people of all ages.</p>
   <%= link_to "Sign up now!","/signup", class: "btn btn-large btn-primary" %>
   <p> or </p>
   <%= link_to "Sign In", "/sessions/new", class: "btn btn-large btn-primary" %>
</div>
<style>
  .center-hero-unit {
  	padding: 2px 4px 5px 3px;
  	text-align: center;
  	font-family: Helvetica;
  	font-size: 1.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  .header {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 2em;
  }
  </style>