<% provide(:title, 'Login') %>
<div class="center">
<h1 class="heading">Login</h1>
<p> This is the Login page</p>
</div>
<style>
.center {
	text-align: center;
	font-family: Helvetica;
	font-size: 20px;
	letter-spacing: -1px;
	margin: 10px;
}
.heading {
	font-weight: bold;
	padding: 10px 10px 10px 10px;
}
</style>