<% provide(:title, 'Followers') %>
<h1> Followers </h1>
<% will_paginate @followers %>
<% current_user.followers.each do |user| %>
<ul> 	<%= gravatar_for user, size: 15, class: "gravatar" %>
	<%= link_to user.name, user, class: "names" %> 
</ul>
<% end %>
<% will_paginate @followers %>
<style>
.names {
	font-family: Myriad Pro;
	font-size: 30px;
}
h1 {
	font-family: Myriad Pro;
	text-align: center;
}
</style>