<% provide(:title, 'Contact') %>
<div class="page-text">
<h1>Contact Us</h1>
<p> Contact me if you have any questions or concerns regarding this blog</p>
</div>
<style>
.page-text {
	text-align: center;
}
</style>
