<% if object.errors.any? %>
<div id = "errorexplanation" >
	<div class = "field_with_errors">
		Oops! There are <%= pluralize (object.errors.count), "errors" %>
	</div>
	  <ul>
	      <% object.errors.full_messages.each do |msg| %>
	    <ul>* <%= msg %> </ul>
	  <% end %>
	</ul>
 </div>
<% end %> 
<style>
   #errorexplanation {
   	color: red;
   	font-size: 1em;
   	font-family: Helvetica;
   	padding: -10px -10px -10px -10px;
   }
</style>