<%= form_for(@micropost) do |f| %>
<%= render 'shared/error_messages', object: f.object %>

<div class = "field_with_errors", input type= "text", ng-model = "input"><%= f.text_area :content, placeholder: "What's up?" %> </div>
<p>{{input}}</p>
<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>