@import "bootstrap";

html {
	overflow-y: scroll;
}
body {  
    padding-top: 60px;
    }
    section {  
    overflow: auto;
    }
    textarea {  
    resize: vertical;
    }
    .center {  
    text-align: center;
    }
    .center h1 {  
    margin-bottom: 10px;
    -moz-box-sizing: border-box;  
    -webkit-box-sizing: border-box;  
    box-sizing: border-box;
    }